:root{
    --solid-white: rgba(228, 230, 231, 0.568);
    --gold: #ffcc40;
    --grey-footer: #e7e6e6;
    --grey-transparent: rgba(202, 197, 197, 0);
}

body, html{
  font-family: 'Quintessential', cursive;
}

body.index, html.index{
    background-image: url(../Images/Backgrounds/shop-front.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;   
}

body.about, html.about{
    background-image: url(../Images/Backgrounds/about.jpg);
    background-position: center;
    background-repeat: repeat;
    max-width: 100%;
    overflow-x: hidden;
}

.navbar-brand{
    font-size: 1.5rem;
}

#Description{
    padding-top: 0.5%;
    margin-left: -3rem;
    font-size: 3rem;
}

#Description span{
    height: 13.5rem;
    background-color: var(--grey-transparent);
    backdrop-filter: blur(0.2rem);
    -webkit-backdrop-filter: blur(0.2rem);
    border-radius: 2rem;
}

#Description p{
    color: var(--gold);
}

#Description #Button{
    margin-top: 14rem;
    margin-left: -15.5rem;
}

#Info p{
    color: var(--solid-white);
    padding-right: 1.5rem;
    padding-top: 1rem;
    font-family: None;
}

#Info img:hover{
    -webkit-border-radius: 2rem;
    border-radius: 2rem;
    -webkit-box-shadow: 0rem 0rem 2rem 0rem white;
    box-shadow:         0rem 0rem 2rem 0rem white;
}

#Links a{
    font-size: 1.5rem;
    padding: 2rem;
    color: azure;
}

#About-Info{
    margin-top: 5rem;
    margin-bottom: 3rem;
    padding-left: 8rem;
    font-family: 'Comfortaa', cursive;
}

#About-Info .card, .card-header, .card-body, .card-footer{
    border-radius: 20%;
}

#About-Info .card-footer{
    background-color: var(--grey-footer);
}

#About-Info h3{
    font-family: 'Kanit', sans-serif;
}

#About-Info img{
    border-radius: 30%;
    width: auto;
    height: 27rem;
}
