:root{
    --solid-white: rgba(228, 230, 231, 0.568);
    --salmon: #FF404C;
}

body, html{
  font-family: 'Quintessential', cursive;
}

body.index, html.index{
    background-image: url(../Images/Backgrounds/shop-front.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
}

body.about, html.about{
    background-image: url(../Images/Backgrounds/about.jpg);
    background-position: center;
    background-repeat: repeat;
    max-width: 100%;
    overflow-x: hidden;
}

.navbar-brand{
    font-size: 1.5rem;
}

#Info p{
    color: var(--solid-white);
    padding-right: 1.5rem;
    padding-top: 1rem;
    font-family: None;
}

#Links a{
    font-size: 1.5rem;
    padding: 2rem;
    color: azure;
}

#Description{
    padding-top: 10%;
    font-size: 2rem;
}

#Description p{
    color: 	var(--salmon);
}

#Description #Button{
    margin-top: 10rem;
    margin-left: -11rem;
}

#About-Info{
    margin-top: 5rem;
    margin-bottom: 3rem;
    padding-left: 8rem;
    font-family: 'Comfortaa', cursive;
}

#About-Info .card, .card-header, .card-body, .card-footer{
    border-radius: 20%;
}

#About-Info .card-footer{
    background-color: #e7e6e6;
}

#About-Info h3{
    font-family: 'Kanit', sans-serif;
}

#About-Info img{
    border-radius: 30%;
    width: auto;
    height: 27rem;
}