.cafe-block-content { 
    margin: 20px;
}


.card {
    width: 18rem;
    height: 40rem;
    border: none;
    background-color: transparent;
}
.card-img-top {
    width:18rem;
    height: 25rem;
}

.card-text { 
    position:absolute;
    text-align: left;
    font-family: 'Crimson Pro', serif;
}

.card-title {
    font-weight: bold;
    position:relative;
    font-family: 'Quintessential', cursive;
}

.menu-section-title { 
    font-family: 'Quintessential', cursive;
}

.menu-item-price {
    padding-left: 1rem;
    text-align: right;
}

.item-btn { 
    position:absolute;
    bottom:30px;
    left:0px
}


body, html{
    background-image: url(../Images/Backgrounds/menu_pattern.jpg);
    background-position: center;
    /* background-repeat: no-repeat; */
    height: 100%;
    width: 100%;
    background-size: cover;
  }