:root{
    --solid-white: rgba(228, 230, 231, 0.568);
    --salmon: #FF404C;
}

body, html{
  font-family: 'Quintessential', cursive;
}

body.index, html.index{
    background-image: url(Images/shop-front.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.navbar-brand{
    font-size: 1.5rem;
}

#Info p{
    color: var(--solid-white);
    padding-right: 1.5rem;
    padding-top: 1rem;
    font-family: None;
}

#Links a{
    font-size: 1.5rem;
    padding: 2rem;
    color: azure;
}

#Description{
    padding-top: 10%;
    font-size: 2rem;
}

#Description p{
    color: 	var(--salmon);
}

#Description #Button{
    margin-top: 10rem;
    margin-left: -11rem;
}

#About-Info{
    margin-top: 5rem;
    padding-left: 8rem;
}

