<!DOCTYPE html>
<html class="about">

<head>
    <meta charset="UTF-8">
    <!-- CSS and more -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link href="../css/general.css" rel="stylesheet" type="text/css" />
    <title>About Caffè Étoilé</title>
    <link rel="icon" href="../Images/Icons/favicon.png" />
    <!-- Button JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
</head>

<body class="about">
    <!-- Top navbar -->
    <nav class="navbar navbar-light bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <img src="../Images/Icons/navbar.png" width="40" height="40" class="d-inline-block align-top" alt="">
                <span class="text-light navbar-text">
                    Caffè Étoilé
                </span>
            </a>

            <!-- Collapsable content -->
            <div class="collapse" id="navbarToggleExternalContent">
                <div id="Links" class="bg-dark p-4">
                    <a href="../index.html">Home</a>
                    <a href="about.html">About</a>
                    <a href="contact.html">Contact</a>
                </div>
            </div>

            <!-- Button -->
            <nav class="navbar navbar-dark bg-dark">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
        </div>
    </nav>

    <!-- About -->
    <div id="About-Info" class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card w-75 h-100 border-0">
                <img src="../Images/About/paw.png" class="card-img-top border border-success" alt="...">
                <div class="card-body">
                    <h3 class="card-title">The Founders</h3>
                    <p class="card-text">Born in 2001, after having studied together at UPRM,
                        Yariel Mercado and Xavier Rosado had a vision: to establish a cafe worthy
                        of providing the pinnacle of fresh food. Together, Yariel, with an
                        affinity for pastries, and Xavier, an avid coffee connoisseur, established a
                        Franco-Italian utopia for the craft.

                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">The University of Puerto Rico at Mayagüez is the alma matter of these
                        rising entrepreneurs.</small>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card w-75 h-100 border-0">
                <img src="../Images/About/coffee.jpg" class="card-img-top border border-warning" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Humble Beginnings</h3>
                    <p class="card-text">Starting in the humble beginning of their homes, later an affordable yet
                        homey locale, and finally our current location in Washington, Yariel and Xavier have always
                        believed in using the freshest of ingredients in what they serve. While the locales may change,
                        our philosphy and crème of the crop ingredients doesn't.
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">All our ingredients are either locally sourced or imported directly from
                        the freshest countrysides in Europe.
                    </small>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card w-75 h-100 border-0">
                <img src="../Images/About/food.jpg" class="card-img-top border border-info" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Art Through Food</h3>
                    <p class="card-text">Creating food is an art, and we strongly uphold the craft by
                        proving that its more than following cookbooks. It's about the technique,
                        quality of the ingredients, and love put into it. From fresh vanilla beans
                        from the Madagascan country side to the care invested into the delicate
                        process of making buttery and flakey croissants, we uphold our mission to deliver
                        the finest European pastries in the west.
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        "When you acknowledge, as you must, that there is no such thing as perfect
                        food... then the real purpose of striving toward perfection becomes clear:
                        to make people happy, that is what cooking is all about." ~Thomas Keller
                    </small>
                </div>
            </div>
        </div>
    </div>

    <!-- Bottom navbar -->
    <nav class="navbar bottom navbar-light bg-dark">
        <div class="container-fluid">
            <div class="navbar-brand">
                <img src="../Images/Icons/sandwich.png" width="35" height="35" class="d-inline-block align-center"
                    alt="">
                <span class="text-light navbar-text">
                    Enjoy the aromas of the cafe
                </span>
            </div>

            <div id="Info" class="form-inline my-2 my-lg-0">
                <p>&copy; 2022 Yariel Mercado &amp; Xavier Rosado</p>
                <a href="https://github.com/Mercrist/mainframe-sds-project" target="blank">
                    <img src="../Images/Icons/github.png" width="40" height="40" class="d-inline-block align-center"
                        alt="">
                </a>
            </div>
    </nav>
</body>

</html>