{% extends "base.html" %}

{% block htmlclass %}class="about"{% endblock %}

{% block head %}
<title>About Caffè Étoilé</title>
<!-- More Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
{% endblock %}

{% block bodyclass %}class="about"{% endblock %}

{% block main %}
<!-- About -->
<div id="About-Info" class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card w-75 h-100 border-0">
            <img src="{{url_for('static', filename='Images/About/paw.png')}}" class="card-img-top border border-success"
                alt="...">
            <div class="card-body">
                <h3 class="card-title">The Founders</h3>
                <p class="card-text">Born in 2001, after having studied together at UPRM,
                    Yariel Mercado and Xavier Rosado had a vision: to establish a cafe worthy
                    of providing the pinnacle of fresh food. Together, Yariel, with an
                    affinity for pastries, and Xavier, an avid coffee connoisseur, established a
                    Franco-Italian utopia for the craft.

                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">The University of Puerto Rico at Mayagüez is the alma matter of these
                    rising entrepreneurs.</small>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card w-75 h-100 border-0">
            <img src="{{url_for('static', filename='Images/About/coffee.jpg')}}"
                class="card-img-top border border-warning" alt="...">
            <div class="card-body">
                <h3 class="card-title">Humble Beginnings</h3>
                <p class="card-text">Starting in the humble beginning of their homes, later an affordable yet
                    homey locale, and finally our current location in Washington, Yariel and Xavier have always
                    believed in using the freshest of ingredients in what they serve. While the locales may change,
                    our philosphy and crème of the crop ingredients doesn't.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">All our ingredients are either locally sourced or imported directly from
                    the freshest countrysides in Europe.
                </small>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card w-75 h-100 border-0">
            <img src="{{url_for('static', filename='Images/About/food.jpg')}}" class="card-img-top border border-info"
                alt="...">
            <div class="card-body">
                <h3 class="card-title">Art Through Food</h3>
                <p class="card-text">Creating food is an art, and we strongly uphold the craft by
                    proving that its more than following cookbooks. It's about the technique,
                    quality of the ingredients, and love put into it. From fresh vanilla beans
                    from the Madagascan country side to the care invested into the delicate
                    process of making buttery and flakey croissants, we uphold our mission to deliver
                    the finest European pastries in the west.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    "When you acknowledge, as you must, that there is no such thing as perfect
                    food... then the real purpose of striving toward perfection becomes clear:
                    to make people happy, that is what cooking is all about." ~Thomas Keller
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block navbartype %}bottom{% endblock %}