<!DOCTYPE html>
<html class="index">

<head>
  <meta charset="UTF-8">
  <!-- CSS and more -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <link href="css/general.css" rel="stylesheet" type="text/css" />
  <title>Caffè Étoilé</title>
  <link rel="icon" href="Images/Icons/favicon.png" />
  <!-- Button JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">

</head>

<body class="index">
  <!-- Top navbar -->
  <nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">
        <img src="Images/Icons/navbar.png" width="40" height="40" class="d-inline-block align-top" alt="">
        <span class="text-light navbar-text">
          Caffè Étoilé
        </span>
      </a>

      <!-- Collapsable content -->
      <div class="collapse" id="navbarToggleExternalContent">
        <div id="Links" class="bg-dark p-4">
          <a href="index.html">Home</a>
          <a href="Pages/about.html">About</a>
          <a href="Pages/contact.html">Contact</a>
        </div>
      </div>

      <!-- Button -->
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
    </div>
  </nav>

  <!-- Center -->
  <div id="Description" class="d-flex justify-content-center">
    <span>
      <p align="center">A delicious and <br> unforgettable experience <br> awaits</p>
    </span>
    <a class="btn btn-success" href="Pages/menu.html" role="button" id="Button">Menu</a>
  </div>

  <!-- Bottom navbar -->
  <nav class="navbar fixed-bottom navbar-light bg-dark">
    <div class="container-fluid">
      <div class="navbar-brand">
        <img src="Images/Icons/sandwich.png" width="35" height="35" class="d-inline-block align-center" alt="">
        <span class="text-light navbar-text">
          Enjoy the aromas of the cafe
        </span>
      </div>

      <div id="Info" class="form-inline my-2 my-lg-0">
        <p>&copy; 2022 Yariel Mercado &amp; Xavier Rosado</p>
        <a href="https://github.com/Mercrist/mainframe-sds-project" target="blank">
          <img src="Images/Icons/github.png" width="40" height="40" class="d-inline-block align-center" alt="">
        </a>
      </div>
  </nav>
</body>

</html>