{% extends "base.html" %}
{% from "macros.html" import menu_item_section %}

{% block head %}
<title>Menu</title>
<link href="{{url_for('static', filename='styles/menu.css')}}" rel="stylesheet" type="text/css" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap" rel="stylesheet" />
{% endblock %}

{% block main %}
<!-- experimenting with background image -->
<div class="bg"></div>
<div class="menu">
  <h1 class="display-2 menu-section-title">Menu</h1>
  <div class="menu-section-cafe">
    <h2 class="menu-section-title"><i>Coffee drinks</i></h2>
        {{ menu_item_section(coffees) }}

    <div class="menu-section-cafe-specialties">
      <h2 class="menu-section-title"><i>Specialty drinks</i></h2>
        {{ menu_item_section(specialties) }} 
    </div>
  </div>
  <div class="menu-section-cafe-sandwiches">
    <h2 class="menu-section-title"><i>Sandwiches</i></h2>
        {{ menu_item_section(sandwiches) }}
  </div>
  <!-- Pastries menu -->
  <div class="menu-section-cafe-pastries">
    <h2 class="menu-section-title"><i>Pastries</i></h2>
        {{ menu_item_section(pastries) }}
  </div>
  <div class="menu-section-cafe-desserts">
    <h2 class="menu-section-title"><i>Desserts</i></h2>
        {{ menu_item_section(desserts) }}
  </div>
</div>
{% endblock %}