{% extends "base.html" %}
{% from "macros.html" import menu_item_section %}

{% block head %}
<title>Menu</title>
<link href="{{url_for('static', filename='styles/menu.css')}}" rel="stylesheet" type="text/css" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap" rel="stylesheet" />
<script type="text/javascript" src="{{url_for('static',filename='testing.js')}}" async></script>
{% endblock %}

{% block main %}
{% if checked_out %}
  <div class="modal" tabindex="-1" id="checkedOutModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Thank you for your order!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Here's your receipt information:
            Note: Be sure to save your receipt number!
          </p>
          <h5>Receipt number: {{receipt.receipt_number}}</h5>
          <h5>Reserved for: {{receipt.reservation}}</h5>
          <div class="col">
            <ul class="list-group">
              <li class="list-group-item d-flex align-items-center justify-content-between">
                <span class="badge bg-info">Item</span>
                <span class="badge bg-primary">Price</span>
                <span class="badge bg-danger">Amount</span>
              </li>
                {% for item,amount in receipt.food_items.items() %}
                <li class="list-group-item d-flex align-items-center justify-content-between">
                    {{item.title()}}
                    <span class="badge bg-primary">{{ menu.find_one({'name':item.title()}).price }}</span>
                    <span class="badge bg-danger">{{amount}}</span>
                </li>
                {% endfor %}
            </ul>
            <p>Subtotal: {{receipt.subtotal}}</p>
            <p>Total: {{receipt.total}}</p>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    window.onload = function() { 
      openCheckoutPopup();
    };
    function openCheckoutPopup() { 
      $('#checkedOutModal').modal("show");
    }
    
  </script>

  {% endif %}
<!-- experimenting with background image -->
<div class="bg"></div>
<div class="menu">
  <h1 class="display-2 menu-section-title">Menu</h1>


  {%for category in categories %}
  <div class="menu-section-cafe">
    <h2 class="menu-section-title"><i>{{category}}</i></h2>
    {{menu_item_section(database.menu.find({"category": category}))}}
  </div>
  {% endfor %}

</div>
{% endblock %}
{% block navbartype %}bottom{% endblock %}