.cafe-block-content { 
    margin: 20px;
}

#Links a{
    font-size: 1.5rem;
    padding: 2rem;
    color: azure;
    font-family: 'Quintessential', cursive;

}

.navbar-brand{
    font-size: 1.5rem;
    font-family: 'Quintessential', cursive;
}


.card {
    width: 18rem;
    height: 40rem;
    border-color: white;
    border-width: 5px;
    padding: 20 px; 
    background-color: #ffffffde;
}

.image-wrapper { 
    height: 350px;
    overflow: hidden; 
}

.card-img-top {
    max-width: 100%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto; 
}

.card-text { 
    position:absolute;
    text-align: left;
    font-family: 'Crimson Pro', serif;
    font-size: large;
}

.card-title {
    font-weight: bold;
    position:relative;
    font-family: 'Quintessential', cursive;
}

.menu-section-title { 
    font-weight: bold;
    font-family: 'Quintessential', cursive;
    position: relative;
    margin-left:auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px; 
}

.menu-item-price {
    font-family: 'Crimson Pro', serif;
    padding-left: 1rem;
    text-align: right;
}

.item-btn { 
    position:absolute;
    bottom:20px;
    left:0px;
    font-family: 'Crimson Pro', serif;

}

.bg { 
    background-image: url(../Images/Backgrounds/menu_pattern.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    position: fixed;
}

#Info p{
    color: rgba(228, 230, 231, 0.568);
    padding-right: 1.5rem;
    padding-top: 1rem;
    font-family: None;
}

#Info img:hover{
    -webkit-border-radius: 2rem;
    border-radius: 2rem;
    -webkit-box-shadow: 0rem 0rem 2rem 0rem white;
    box-shadow:         0rem 0rem 2rem 0rem white;
}